body{

    background:#f8f9fa;

}

.card{

    border:none;

    border-radius:12px;

}

.card-body{

    padding:25px;

}

.btn{

    border-radius:8px;

}

footer{

    color:#666;

}

.navbar-brand{

    font-weight:bold;

}

.table{

    background:white;

}

.card {
    transition: all 0.25s ease;
}

a .card:hover {

    transform: translateY(-5px);

    box-shadow: 0 12px 24px rgba(0,0,0,.15);

}